<link rel="stylesheet" href="/css/navBar.css" />
<header>
  <div class="navBar">
    <div>
      <a class="navTitle" href="/">Issue Tracker</a>
    </div>
    <div>
      <a class="navCreateProject" href="/create-project">Create Project</a>
    </div>
  </div>
</header>
