.navBar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px #3498db solid;
  padding: 10px 50px;
}
.navTitle,
.navCreateProject {
  font-size: larger;
  font-weight: 700;
  text-decoration: none !important;
  color: black;
}
@media only screen and (max-width: 550px) {
  .navBar {
    padding: 10px 10px;
  }
}
